# App
FFDec.app

# Builds/data
build/swf_checkpoints/
decompiled/
.macos/
notebooks/data/*
!notebooks/data/toy/
!notebooks/data/toy/**

# Tools
.venv/
*.pyc
python/ssf2_rl.egg-info/
*.DS_Store
.vscode/